/* CSS Document */


body {
	background-color:rgba(246,236,220,1.00);
}

div {
margin:4px;
padding: 0.5em;
}

#header, #footer {
	background-color:rgba(124,111,91,1.00);
}
#header {height:100px;
		min-width: 500px;
}

#main, #order, #menu {
	background-color: rgba(232,201,154,1.00);
	clear: both;
}
#main {
	flex-grow:2;
	}
#order {
	flex-grow:1;
}
#menu {
	flex-grow: 1;
}

#footer {color:white;}

h2,h3 {color:saddlebrown;}
#logo {
	float: left;
}

#slogan {
	float: right;
}


#container {
	display:flex;
}
